<form id="step2Form" novalidate="">
  <div>
    <label for="address1">Address 1</label>
    <input type="text" name="address1" value="<%- address1%>" aria-required="true" required />
    <span class="error"><%- error.address1%></span>
  </div>
  <div>
    <label for="address2">Address 2</label>
    <input type="text" name="address2" value="<%- address2%>" />
  </div>
  <div>
    <label for="city">City</label>
    <input type="text" name="city" value="<%- city%>" aria-required="true" required />
    <span class="error"><%- error.city%></span>
  </div>
  <div>
    <label for="state">State</label>
    <input type="text" name="state" value="<%- state%>" aria-required="true" required />
    <span class="error"><%- error.state%></span>
  </div>
  <div>
    <label for="zipcode">Zip code</label>
    <input type="text" name="zipcode" value="<%- zip%>" aria-required="true" required />
    <span class="error"><%- error.zip%></span>
  </div>
  <div>
    <button type="submit" name="finish">Finish</button>
  </div>
</form>
